<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO 04-04. context 네임스페이스 및 스키마 등록 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/beans/spring-context.xsd">
	
    <!-- TODO 04-05. 자동 Bean 등록 기능 추가  -->
	<context:compoenent-scan base-package="edu.egov"/>
</beans>
